.ButtonCarto {
    padding: 8px 14px;
    border: 0;
    background: #1785FB;
    font: 12px 'Helvetica';
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.ButtonCarto--confirm {
    padding: 13px 24px;
}

.ButtonCarto:focus {
    outline: none;
}

.ButtonCarto-media {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.ButtonCarto-text {
    display: inline-block;
    vertical-align: middle;
}
